---
layout: base
---

<div class="home">
  <h1 class="page-heading">Blog</h1>

  {% assign postsByYear = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}

  {% for year in postsByYear %}
    <h2>{{ year.name }}</h2>
    <ul class="post-list">
      {% for post in year.items %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/rss" | prepend: site.baseurl }}">via RSS</a></p>

</div>
